*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.front_head_line{
    height: 120px;
    width: 1537px;
    border: 2px solid black;
   
    background-color:#191919;
   
    display: flex;
    justify-content: space-around;

    align-items: center;
    color: wheat;
    
    

}
div.box1{
    height: 115px;
    width: 115px ;
    border: 20px solid yellowgreen;
    border-radius: 50%;
    position: relative;
    top: 48px;
    left: -50px;
    text-align:center;
    color: red;
    
   
    
}
div.box11{
    height: 96px;
    width: 17px;
    border: 2px solid blue;
    background-color: blue;
    transform: rotate(-45deg);
    position: relative;
    top: -34px;
    left: 50px;
}
section{
    height: 590px;
    width: 250px;
    border: 2px solid sandybrown;
    color: white;
    text-align: center;
    overflow-y:auto ;
    background-color: sandybrown;
}
section::-webkit-scrollbar{
    display: none;
  }